.inputContainer {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.lable {
  display: flex;
  flex-direction: column;
}
.lable:hover {
  cursor: pointer;
}

.inputEl {
  display: block;
  height: 2rem;
  font-size: 1rem;
  border-radius: 1.5rem;
  padding-left: 0.5rem;
}
.inputEl::placeholder {
  color: rgb(228, 224, 224);
}
.error {
  color: rgba(255, 2, 2);
}
