section {
  display: flex;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  flex-direction: column;
  align-items: center;

  background: rgb(0, 51, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 65, 0, 0.5) 0%,
    rgba(162, 238, 152, 0.5) 50%,
    rgba(0, 65, 0, 0.5) 100%
  );
}
.text {
  margin: 0;
  padding-bottom: 0.5em;
}
.formContainer {
  width: 50%;
}
.title {
  margin: 0;
  padding-bottom: 0.5em;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 1em;
}
.buttonContainer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
