.selectInputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.label {
  display: flex;
  flex-direction: column;
}

.selectEl {
  display: block;
  height: 2rem;
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 1rem;
}
.selectEl:hover {
  cursor: pointer;
}
.option {
  border-radius: 0.3rem;
}
.error {
  color: rgba(255, 2, 2);
}
